<div id="normalcontent">
	<h3><strong><%= t(:list_author) %></strong></h3>
	<div class="contentarea">
<!-- 	<table> -->
<!-- 	<tr> -->
<!-- 		<th><%= t(:name) %></th> -->
<!-- 		<th><%= t(:position) %></th> -->
<!-- 		<th><%= t(:concept) %></th> -->
<!-- 		<th><%= t(:resume) %></th> -->
<!-- 		<th><%= t(:style) %></th> -->
<!-- 	</tr> -->

	<% @authors.each do |author| %>
	  <tr>
	  	<td><%= author.name %></td>
	    <td><%= author.position %></td>
<!-- 	    <td><%= author.concept %></td> -->
<!-- 	    <td><%= author.resume %></td> -->
	    <td><%= author.style %></td>
	    <td><%= link_to t(:show), author %></td>
	    <td><%= link_to t(:edit), edit_author_path(author) %></td>
	    <td><%= link_to t(:destroy), author, :confirm => t(:destroy_confirm), :method => :delete %></td>
	  </tr>
	<% end %>
<!-- 	</table> -->
	</div>

<br />

<%= link_to t(:new_author), new_author_path %>
</div>
<div class="divider1"></div>
