<h1>Listing authors</h1>

<table>
  <tr>
    <th>姓名</th>
    <th>职位</th>
    <th>设计理念</th>
    <th>自我复述</th>
    <th>风格</th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= author.name %></td>
    <td><%= author.position %></td>
    <td><%= author.concept %></td>
    <td><%= author.resume %></td>
    <td><%= author.style %></td>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Author', new_author_path %>
