<div id="menubottom"></div>
<div id="content">
	<div id="normalcontent">
<!-- 	<p id="notice"><%= notice %></p> -->
		<div class="contentarea">
			<% if @author.photo? %>
				<%= image_tag(@author.photo_url) %>
			<% end %>
			<img src="/images/xbe.jpg" class="left" alt="XuBoEn" />
			<b><%= t(:name) %></b>
			<%= @author.name %>
			<br/>
			<br/>
			<b><%= t(:position) %></b>
			<%= @author.position %>
			<br/>
			<br/>
			<b><%= t(:style) %></b>
  			<%= @author.style %>
  			<br/>
  			<br/>
			<b><%= t(:concept) %></b>
			<%= raw @author.concept %>
			<br/>
			<br/>
			<b><%= t(:resume) %></b>
			<%= raw @author.resume %>
			<br/>
			<% if session[:user_id] %>
				<%= link_to t(:edit), edit_author_path(@author) %> |
				<%= link_to t(:back), authors_path %>
			<% end %>
</div>
</div>
</div>
