<div class="contentarea">
	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	
	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	  <fieldset>
	    <legend><%= t(:enter_user_details) %></legend>
	    <span><%= t(:name)%>:</span> 
	    <%= f.text_field :name %>
	    <br />
	    <br />
	    <span><%= t(:password) %>:</span>    
	    <%= f.password_field :password, :size => 40 %>
	    <br />
	    <br />
	    <span><%= t(:confirm) %>:</span>    
	    <%= f.password_field :password_confirmation, :size => 40 %>
	    <br />
	    <br />
		<span><%= t(:email) %>:</span>     
	    <%= f.text_field :email %>
	    <br />
	    <br />
	  <div class="button">
		<!--     <%= f.submit "Add User" , :class => "submit" %> -->
		<%= f.submit %>
	  </div>
	 </fieldset>
	<% end %>
</div>
