<div id="menubottom"></div>
<div id="content">
<div id="normalcontent">
	<h3><strong><%= t(:list_users) %></strong></h3>
	<div class="contentarea">

	<table>
	  <tr>
	    <th><%= t(:name) %></th>
	    <th><%= t(:email) %></th>
	  </tr>

	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.name %></td>
	    <td><%= user.email %></td>
	    <td><%= link_to 'Show', user %></td>
	    <td><%= link_to 'Edit', edit_user_path(user) %></td>
	    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New User', new_user_path %>
</div>
</div>
