<div class="contentarea">
<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:name)%>:</b>
  <%= @user.name %>
</p>

<!-- <p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p> -->
<p>
  <b><%= t(:email) %>:</b>
  <%= @user.email %>
</p>

<!-- <p>
  <b>Reset password token:</b>
  <%= @user.reset_password_token %>
</p> -->
<p>
	<%= link_to t(:edit), edit_user_path(@user) %> |
	<%= link_to t(:back), users_path %>
</p>
</div>
