<!-- <div class="intro_news"> -->
<div id="normalcontent">
	<h3><strong><%= t(:news) %></strong></h3>
	<div class="contentarea">
	<table>
		<% @news.each do |news| %>
  		<tr>
    		<td><%= link_to news.title, news %></td>
    		<td><%= link_to t(:edit), edit_news_path(news) %></td>
    		<td><%= link_to t(:destroy), news, :confirm => 'Are you sure?', :method => :delete %></td>
  		</tr>
		<% end %>
	</table>
	</div>
	<br />

	<%= link_to t(:add_news), new_news_path %>
</div>
