<div id="normalcontent">
	<h3><strong><%= @news.title %></strong></h3>
	<div class="contentarea">
		<%= raw @news.content.gsub(/\r\n/,'<br/>') %>
<!-- 	<p id="notice"><%= notice %></p> -->

<!-- <p>
  <%= @news.title %>
</p> -->

<!-- <p>
  <%= raw @news.content.gsub(/\r\n/,'<br/>') %>
</p> -->


<%= link_to t(:edit), edit_news_path(@news) %> |
<%= link_to t(:back), news_index_path %>
