<p id="notice"><%= notice %></p>

<p>
  <!-- <b>Title:</b> -->
  <%= @news.title %>
</p>

<p>
<!--   <b>Content:</b> -->
  <%= raw @news.content.gsub(/\r\n/,'<br/>') %>
</p>


<%= link_to t(:edit), edit_news_path(@news) %> |
<%= link_to t(:back), news_index_path %>
