<div id="menubottom"></div>
<div id="content">
<div id="normalcontent">
	<h3><strong><%= t(:about) %></strong></h3>
	<div class="contentarea">
	<table>
		<% @abouts.each do |about| %>
		  <img src="images/pic1.jpg" class="left" />
		  <tr>
		  	<td><%= raw about.content.gsub(/\r\n/,'<br/>') %></td>
		  </tr>
		  <tr>
		    <td>
		    	<%= link_to t(:edit), edit_about_path(about) %>
		    	<%= link_to t(:destroy), about, :confirm => t(:destroy_confirm), :method => :delete %>
		    </td>
		  </tr>
		<% end %>		
	</table>
	</div>
	<br/>
<!-- 	<%= link_to t(:new), new_about_path %> -->	
</div>
<div class="divider1"></div>
<div id="normalcontent">
	<h3><strong><%= t(:list_author) %></strong></h3>
	<div class="contentarea">
		<% @authors.each do |author| %>
	  	<img src="/images/xbe_s.jpg" class="left" alt="A chinese dragon" />
	  	<p>
	  		<b><%= link_to author.name, author %></b>
	  	</p>
	  	<p>
	  		<b><%= t(:position) %></b>
	  		<%= author.position %>
	  	</p>
		<p>
			<b><%= t(:style) %> </b>
			<%= author.style %>
		</p>
		    <td><%= link_to t(:edit), edit_author_path(author) %></td>
		    <td><%= link_to t(:destroy), author, :confirm => t(:destroy_confirm), :method => :delete %></td>
	  	</tr>
	<% end %>
	</div>
</div>
</div>
