<!DOCTYPE html>
<html>
<head>
  <title>点装装饰</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="upbg"></div>
<div id="outer">
	<div id="header">
			<div class="logo">
 			<a href="/" target="_self">
				<img src="/images/logo.JPG" alt="" width="300" height="150" border="0">
			</a>
			</div>
			<div id="headercontent">
<!-- 				<h1>点装装饰<sup>1.0</sup></h1> -->
				<h1>热线电话：13826002421</h1>
			</div>
	</div>
	<div id="headerpic"></div>
	<div id="menu">
		<ul>
			<li><a href="/" target="_self">首页</a></li>
			<li><a href="/news" target="_self">最新动态</a></li>
			<li><a href="/abouts" target="_self">走进点装</a></li>
			<li><a href="/authors" target="_self">产品展厅</a></li>
			<li><a href="/news.html" target="_self">装修社区</a></li>
	      	<li><a href="/application.html" target="_self">人才招募</a></li>
		  	<li><a href="/contact.html" target="_self">售后服务</a></li>
		  	<li><a href="/contact.html" target="_self">在线支持</a></li>
		  	<li><a href="/contact.html" target="_self">QQ</a></li>
		</ul>
	</div>
<!-- 	<li id="pic-new">
          <div id="SlidePlayer">
            <ul class="Slides">
              <li style=""><img src="/sitemap/index_01.jpg" alt="关于我们" border="0"></li>
			  <li style=""><img src="/sitemap/index_02.jpg" alt="关于我们" border="0"></li>
			  <li style=""><img src="/sitemap/index_03.jpg" alt="案例" border="0"></li>
			  <li style=""><img src="/sitemap/index_04.jpg" alt="新闻" border="0"></li>
			  <li style=""><img src="/sitemap/index_05.jpg" alt="联系我们" border="0"></li>
            </ul>
          <ul class="SlideTriggers"><li class="Current">1</li><li class="">2</li><li class="">3</li><li class="">4</li><li class="">5</li></ul></div>
    </li>
    <%= javascript_include_tag "tb" %>
  	<script type="text/javascript">
		TB.widget.SimpleSlide.decoration('SlidePlayer', {eventType:'mouse', effect:'scroll'});
	</script> -->
<%= yield %>
<div class="footer">
<div class="footer_in">
    <p class="copyright">Copyright &copy; 广东点装装饰工程有限公司 2010-2011 粤ICP备0000000</p>
</div>
</div>
</div>
</body>
</html>
